.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-image: url('./images/yellowBG.jpg'); */
  background: linear-gradient(to right, rgb(202, 49, 49) , rgb(47, 47, 209) );
  background-position: center;
  background-size: cover;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

#sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  max-width: 170px;
  height: 100%;
  background-color: white;
  opacity: 90%;
  padding-top: 50px;
 
}

.menuitem {
  padding: 10px 20px;
  line-height: 20px;
  color: black;
  border-radius: 0 !important;
  margin-top: 0;
  margin-bottom: 0;
  font-size: medium;
}
.menuitem:hover{
  transform: scale(1.1);
}
#activebtn{
  
  color: black;
  border: none !important;
  font-size: 25px;
  font-weight: bold;
}

#activebtn:hover{
  transform: scale(1.1);
}

#menuitem{
  color: black;
}

#menuitem:hover{
  transform: scale(1.1);
}

.loginform{
  justify-content: left;
  text-align: center;
  min-height: 380px;
  min-width: 400px;
  padding: 50px;
  background-color: white;
  opacity: 80%;
  color: black;
 
}

.registerform{
  justify-content: left;
  text-align: center;
  min-height: 380px;
  min-width: 400px;
  padding: 50px;
  background-color: white;
  opacity: 80%;
  color: black;
}

.account-details{
  
  margin-left: 10px;
  text-align: left;
  display: block;
}



.account-details h1 {
top: 56px;
position: fixed;
}

.account-details h2 {
  margin: 10px;
  border: 2px solid gray;
  background-color: white;
  border-width: thin;
  width: 200px;
  font-size: 17px;
}

.homebtns:hover {
  transform: scale(1.1);

}

.recipesgrid {
  width: 850px;
  height: 550px;
  
}