.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background: white;
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.land {
  min-height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(to right, rgb(202, 49, 49), rgb(47, 47, 209));
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.loginform {
  text-align: center;
  height: 380px;
  width: 400px;
  padding: 50px;
  background-color: white;
  opacity: 80%;
  color: black;
}

.registerform {
  text-align: center;
  min-height: 380px;
  min-width: 400px;
  padding: 50px;
  background-color: white;
  opacity: 80%;
  color: black;
}

.acctform {
  justify-content: left;
  text-align: center;
  min-height: 380px;
  min-width: 400px;
  padding: 50px;
  background-color: white;
  opacity: 80%;
  color: black;
}

.account-details {
  margin-left: 10px;
  text-align: left;
  display: block;
}

.account-details h1 {
  top: 56px;
  position: fixed;
}

.account-details h2 {
  margin: 10px;
  border: 2px solid gray;
  background-color: white;
  border-width: thin;
  width: 200px;
  font-size: 17px;
}

.recipesgrid:hover {
  transform: scale(1.1);
}

.recipesgrid:hover {
  transform: scale(1.1);
}

.sb-options:hover {
  cursor: pointer;
  background-color: rgb(248, 233, 233);
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.col1 {
  color: rgb(202, 49, 49);
  width: 30vw;
  height: 80vh;
  margin: 1em;
  padding: 1em;
  border: solid;
}

.col2 {
  color: rgb(158, 65, 161);
  width: 30vw;
  height: 80vh;
  margin: 1em;
  padding: 1em;
  border: solid;
}

.col3 {
  color: rgb(47, 47, 209);
  width: 30vw;
  height: 80vh;
  margin: 1em;
  padding: 1em;
  border: solid;
}

.popup {
  position: fixed;
  width: 30%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border: 2px solid black;
}
.popup\_inner {
  position: fixed;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.sub_popup {
  position: fixed;
  width: 30%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  border: 2px solid black;
}

.error {
  color: red;
}

.favorite_recipe_p {
  font-size: 1.5vh;
  font-family: sans-serif;
  font-weight: lighter;
  color: black;
}

.homepage_title {
  font-size: 20px;
}

.homepage_info {
  font-size: 27px;
}
